h1, h2 {
    font-family: Montserrat;
}

p, div , h3, li {
    font-family: Roboto;
    line-height: 2;
    font-size: 20px;
}

.highlight {
    color: rgb(0, 115, 183);
    font-weight: bolder;
}

hr {
    border-top: 1px solid rgb(0, 115, 183);
}
address {
    font-style: normal;
}

.box {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px 0px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}